<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title><%= `${user.username}#${user.discriminator}` %></title>
    <link rel="icon" href="<%=iconURL%>">
</head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/profile"><%=status%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guilds">Dashboard</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br/>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <img class="img-fluid bot-avatar rounded-circle" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512%>" width="200px" height="200px" alt="">
            <br/>
            <br/>
          <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%= `${user.username}#${user.discriminator}` %></h3>
        </div>
      </div>
    </header>

      <div class="masthead-content">
        <div class="container">
          <center><h3 class="masthead-heading mb-0">VIP =</h3></center>
        </div>
      </div>
      
        <div class="masthead-content">
        <div class="container">
          <center><h3 class="masthead-heading mb-0">Blacklisted =</h3></center>
        </div>
      </div>
      <br/>


<!-- Trigger the modal with a button -->
<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">BUY VIP</button></center>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Purchase User VIP</h4></center>
      </div>
      <div class="modal-body">
        <p>If You Buy User VIP You Get Perks Like Editing Profile In Dashboard, Double Daily Credits, VIP Support, Unlock The VIP Badge On Your Profile</p>
          <center><h4 class="modal-title">Price 50,000 Credit's</h4></center>
      </div>
             S<div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2"> 
         <form action="/profile" method='post' id="BUY_VIP">
            <button type="submit" name="buy-vip" id="VIP_PURCHASE" value="vip-buy" class="btn2 btn-info btn-sm">PURCHASE</button>
          </form>
        </br>
      </div>
    </div>
    </div>

  </div>
</div>


</br>
    

  </div>


      <div class="footer">
          <div class="bot-footer">
              Copyright © Hydro Team - 2020
          </div><br/>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="pubilc/js/now-ui-kit.min.js"></script>
  </body>
  </html>
